* {
    padding: 0px;
    margin: 0px;
}

.banner {
    background-color: cornflowerblue;
    height: 95vh;
    min-height: 600px;
}

.header {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header img {
    margin: 0px 200px;

}

.header button {
    border-radius: 50%;
    padding: 10px;
    align-items: center;
    color:darkorange;
    background-color: black;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.login:hover {
    background-color: white;
}
/* <body>
    <div class="wrapper">
        <div class="header">
            <span>
                Post
            </span>
            <span>
                Notifications
            </span>
            <span>
                Profile
            </span>
            <span>
                Settings
            </span>
            <img class="logo" src="#">
            <!-- # placeholder for makeshift logo -->
            <button class="login">Login</button>
            </div>
        </div> */
